<!-- entry-page.component.html -->

<div class="language-selector">
    <select [(ngModel)]="selectedLang" (change)="translate()">
      <option value="ar">Arabe</option>
      <option value="en">Anglais</option>
      <option value="fr">Français</option>
      <option value="es">Espagnol</option>
    </select>
  </div>
  <h4>Welcome To Your hub for theoretical knowledge</h4>
  <div class="modal">
   
    <div class="modal-content" [dir]="selectedLang === 'ar' ? 'rtl' : 'ltr'">
      <span class="close">&times;</span>
      <h2>{{ 'Login' | translate }}</h2>
  
      <div class="options">
        <div class="option">
          <a [routerLink]="['/login']">
            <img src="https://cdn-icons-png.freepik.com/512/6623/6623486.png" alt="Candidate">
            <p>{{ 'CANDIDATE' | translate }}</p>
          </a>
        </div>
  
        <div class="option">
          <a [routerLink]="['/trainerLogin']">
            <img src="https://www.clipartmax.com/png/full/151-1511596_train-the-trainer-games-train-the-trainer-icon-png.png" alt="Trainer">
            <p>{{ 'TRAINER' | translate }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  